@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
body {
    margin: 0px;
}

.screenHeight {
    height: calc(100% - 60px);
}

.font-gothic {
    font-family: 'Roboto', sans-serif;
}